body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.header {
  font-family: "Inter", sans-serif;
  background-color: #c4c007;
  width: 100%;
}

#nav2 {
  padding-left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1200px) {
  .nav {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    max-width: none;
  }
}
.nav__list {
  display: flex;
}
.nav-item-logo {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.nav-link {
  margin-right: 30px;
  color: #222222;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.bag-count {
  background-color: #222222;
  font-size: 12px;
}

.main {
  width: 100%;
  background-size: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/mainFont.png");
}
.main__container {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 190px;
  padding-bottom: 260px;
}
@media screen and (max-width: 1200px) {
  .main__container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .main__container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .main__container {
    max-width: none;
  }
}
.main-title {
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
}
.main-decription {
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.btn {
  background-color: #FFFFFF;
  display: block;
  width: 230px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #c4c007;
}

.hits {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .hits {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .hits {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .hits {
    max-width: none;
  }
}
.hits-title {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  margin-top: 150px;
  margin-top: 74px;
}
@media screen and (max-width: 1200px) {
  .hits-title {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .hits-title {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .hits-title {
    max-width: none;
  }
}

.menu {
  background-color: #222222;
  position: static;
  width: 100%;
}
.menu__category {
  padding-left: 195px;
  padding-top: 203px;
}
.menu__category-link {
  display: block;
  text-transform: uppercase;
  color: #696969;
  font-size: 80px;
  font-weight: 700px;
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 82px;
}
.menu__category-link:hover {
  color: #c4c007;
}
.menu__btn {
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 150px;
  height: 150px;
  font-size: 24px;
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  margin-left: 795px;
  margin-bottom: 93px;
}
.menu__btn:hover {
  background-color: #c4c007;
}

.blog__title {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 80px;
  text-transform: uppercase;
  font-family: "Gothic A1", sans-serif;
  padding-top: 150px;
}
@media screen and (max-width: 1200px) {
  .blog__title {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .blog__title {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .blog__title {
    max-width: none;
  }
}
.blog__article {
  display: inline-block;
}
.blog__article__1 {
  display: inline-block;
  background-color: #c4c007;
}
.blog__article__1-title {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  .blog__article__1-title {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .blog__article__1-title {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .blog__article__1-title {
    max-width: none;
  }
}
.blog__article__1-content {
  font-size: 16px;
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
}
.blog__article__1-img {
  border-radius: 20%;
}
.blog__article__2 {
  display: inline-block;
  height: 730px;
}
.blog__article__2-title {
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
}
.blog__article__2-content {
  font-size: 16px;
  font-family: "Gothic A1", sans-serif;
}
.blog__article__3 {
  display: inline-block;
}
.blog__article__3-title {
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
}
.blog__article__3-content {
  font-size: 16px;
  font-family: "Gothic A1", sans-serif;
}
.new__title {
  font-size: 80px;
  font-family: "Gothic A1", sans-serif;
  padding-top: 188px;
  margin-bottom: 14px;
}
.new__catalog-link {
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

#slider {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
  margin-bottom: 308px;
}
@media screen and (max-width: 1200px) {
  #slider {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  #slider {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  #slider {
    max-width: none;
  }
}

#slider article {
  width: 20%;
  float: left;
  margin-right: 30px;
}

#slider .image {
  width: 50%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
}

#desctop:checked ~ #slider {
  max-width: 900px;
}

#switch1:checked ~ #controls label:nth-child(4),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(1) {
  background: url("sliderBtn.png") no-repeat;
  float: left;
  margin: 0 0 0 -83px;
  display: block;
  height: 68px;
  width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1) {
  background: url("rightSlider.png") no-repeat;
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

label, a {
  cursor: pointer;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#switch4:checked ~ #slides .image {
  margin-left: -300%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: rgb(229, 166, 214);
}

#active {
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  background: #c4c007;
  border-color: #222222 !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  transition: opacity 0.2s ease-out;
}

.contact {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("/css/img/ringUs.png");
  background-size: cover;
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .contact {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .contact {
    max-width: none;
  }
}
.contact__inf {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-left: 50px;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .contact__inf {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .contact__inf {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .contact__inf {
    max-width: none;
  }
}
.contact__btn {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 230px;
  height: 60px;
  font-size: 24px;
  font-family: "Gothic A1", sans-serif;
  font-family: "Inter", sans-serif;
  margin-top: 55px;
  margin-left: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .contact__btn {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .contact__btn {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .contact__btn {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */